/*----------------------------- Reset de estilos --------------------------*/
* {
    //margin: 0; /* Elimina el margen exterior predeterminado */
    padding: 0;
    /* Elimina el relleno predeterminado */
    box-sizing: border-box;
    /* Utiliza el modelo de caja de borde. Esto significa que el tamaño total del elemento incluirá el borde
        y el relleno, pero no el margen. Si estableces el ancho de un elemento en 100px y luego le agregas 10px
        de relleno y 5px de borde, el ancho total seguirá siendo 100px, y el relleno y el borde se ajustarán dentro de esos 100px. */
  }
  /*---------------- Tamaño de fuente raíz para 1rem en 10px ----------------*/
  html {
    font-size: 10px;
  }
  
  p {
    margin: 0rem;
  }
  /*-------------------------- Colores generales ----------------------------*/
  $c_black: black;
  $c_blanco: white;
  $c_seleccion: rgb(23, 27, 87);
  $bg_boton_home: rgb(211, 78, 30);
  $c_seleccion_boton_home: coral;
  $bg_boton: darkred;
  $bg_seleccion_boton: rgb(202, 0, 0);
  $border_formulario: #E1E1E1;
  $c_grisClaro: rgb(190, 190, 190);
  $bg_header_menu: cornsilk;
  $c_text_header_index: rgb(170, 125, 11);
/*------------------------------- Botones ---------------------------------*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
